{% extends 'main/base.html' %}
{% block content %}

{% block head %}
  <link rel="stylesheet" href="static/display.css">
{% endblock%}

<div class="content">
<body>
  <br>
  <br>
<h2>Recommended Titles </h2>
</body>
  <table id="List3" border="1" class="dataframe" align="center">

    {% for item in result2 %}
    {% if item in list %}
      <thead>
          <tr style="text-align: center;">
            <th>ID</th><th>Tv Title</th><th>Favorites List:</th><th>Rating:</th>
          </tr>
      </thead>
    {% endif %}
    {% endfor %}

    {% for item in result2 %}
    <tbody>
      {% if item.0 != NULL %}
      <tr>
        <td> 1 </td>
        <td> {{ item.0}} </td>
        <td>
          <form method="post" action="operation1">
            {% csrf_token %}
            <button type="submit" class="listBtn" value="{{item.0}}" name="addTitle">Add</button>
          </form>
          <form method="post" action="operation2">
            {% csrf_token %}
            <button type="submit" class="listBtn" value="{{item.0}}" name="delTitle">Delete</button>
          </form>
        </td>
        <td>
          <button type="submit" class="listBtn" value="{{value.0}}" name="addTitle">+</button>
          <button type="submit" class="listBtn" value="{{value.0}}" name="addTitle">--</button>
        </td>
      </tr>
      {% endif %}

      {% if item.1 != NULL %}
      <tr>
        <td> 2 </td>
        <td> {{ item.1}} </td>
        <td>
          <form method="post" action="operation1">
            {% csrf_token %}
            <button type="submit" class="listBtn" value="{{item.1}}" name="addTitle">Add</button>
          </form>
          <form method="post" action="operation2">
            {% csrf_token %}
            <button type="submit" class="listBtn" value="{{item.1}}" name="delTitle">Delete</button>
          </form>
        </td>
        <td>
          <button type="submit" class="listBtn" value="{{value.0}}" name="addTitle">+</button>
          <button type="submit" class="listBtn" value="{{value.0}}" name="addTitle">--</button>
        </td>
      </tr>
      {% endif %}

      {% if item.2 != NULL %}
      <tr>
        <td> 3 </td>
        <td> {{ item.2}} </td>
        <td>
          <form method="post" action="operation1">
            {% csrf_token %}
            <button type="submit" class="listBtn" value="{{item.2}}" name="addTitle">Add</button>
          </form>
          <form method="post" action="operation2">
            {% csrf_token %}
            <button type="submit" class="listBtn" value="{{item.2}}" name="delTitle">Delete</button>
          </form>
        </td>
        <td>
          <button type="submit" class="listBtn" value="{{value.0}}" name="addTitle">+</button>
          <button type="submit" class="listBtn" value="{{value.0}}" name="addTitle">--</button>
        </td>
      </tr>
      {% endif %}

      {% if item.3 != NULL %}
      <tr>
        <td> 4 </td>
        <td> {{ item.3}} </td>
        <td>
          <form method="post" action="operation1">
            {% csrf_token %}
            <button type="submit" class="listBtn" value="{{item.3}}" name="addTitle">Add</button>
          </form>
          <form method="post" action="operation2">
            {% csrf_token %}
            <button type="submit" class="listBtn" value="{{item.3}}" name="delTitle">Delete</button>
          </form>
        </td>
        <td>
          <button type="submit" class="listBtn" value="{{value.0}}" name="addTitle">+</button>
          <button type="submit" class="listBtn" value="{{value.0}}" name="addTitle">--</button>
        </td>
      </tr>
      {% endif %}

      {% if item.4 != NULL %}
      <tr>
        <td> 5 </td>
        <td> {{ item.4}} </td>
        <td>
          <form method="post" action="operation1">
            {% csrf_token %}
            <button type="submit" class="listBtn" value="{{item.4}}" name="addTitle">Add</button>
          </form>
          <form method="post" action="operation2">
            {% csrf_token %}
            <button type="submit" class="listBtn" value="{{item.4}}" name="delTitle">Delete</button>
          </form>
        </td>
        <td>
          <button type="submit" class="listBtn" value="{{value.0}}" name="addTitle">+</button>
          <button type="submit" class="listBtn" value="{{value.0}}" name="addTitle">--</button>
        </td>
      </tr>
      {% endif %}

      {% if item.5 != NULL %}
      <tr>
        <td> 6 </td>
        <td> {{ item.5}} </td>
        <td>
          <form method="post" action="operation1">
            {% csrf_token %}
            <button type="submit" class="listBtn" value="{{item.5}}" name="addTitle">Add</button>
          </form>
          <form method="post" action="operation2">
            {% csrf_token %}
            <button type="submit" class="listBtn" value="{{item.5}}" name="delTitle">Delete</button>
          </form>
        </td>
        <td>
          <button type="submit" class="listBtn" value="{{value.0}}" name="addTitle">+</button>
          <button type="submit" class="listBtn" value="{{value.0}}" name="addTitle">--</button>
        </td>
      </tr>
      {% endif %}

      {% if item.6 != NULL %}
      <tr>
        <td> 7 </td>
        <td> {{ item.6}} </td>
        <td>
          <form method="post" action="operation1">
            {% csrf_token %}
            <button type="submit" class="listBtn" value="{{item.6}}" name="addTitle">Add</button>
          </form>
          <form method="post" action="operation2">
            {% csrf_token %}
            <button type="submit" class="listBtn" value="{{item.6}}" name="delTitle">Delete</button>
          </form>
        </td>
        <td>
          <button type="submit" class="listBtn" value="{{value.0}}" name="addTitle">+</button>
          <button type="submit" class="listBtn" value="{{value.0}}" name="addTitle">--</button>
        </td>
      </tr>
      {% endif %}

      {% if item.7 != NULL %}
      <tr>
        <td> 8 </td>
        <td> {{ item.7}} </td>
        <td>
          <form method="post" action="operation1">
            {% csrf_token %}
            <button type="submit" class="listBtn" value="{{item.7}}" name="addTitle">Add</button>
          </form>
          <form method="post" action="operation2">
            {% csrf_token %}
            <button type="submit" class="listBtn" value="{{item.7}}" name="delTitle">Delete</button>
          </form>
        </td>
        <td>
          <button type="submit" class="listBtn" value="{{value.0}}" name="addTitle">+</button>
          <button type="submit" class="listBtn" value="{{value.0}}" name="addTitle">--</button>
        </td>
      </tr>
      {% endif %}

      {% if item.8 != NULL %}
      <tr>
        <td> 9 </td>
        <td> {{ item.8}} </td>
        <td>
          <form method="post" action="operation1">
            {% csrf_token %}
            <button type="submit" class="listBtn" value="{{item.8}}" name="addTitle">Add</button>
          </form>
          <form method="post" action="operation2">
            {% csrf_token %}
            <button type="submit" class="listBtn" value="{{item.8}}" name="delTitle">Delete</button>
          </form>
        </td>
        <td>
          <button type="submit" class="listBtn" value="{{value.0}}" name="addTitle">+</button>
          <button type="submit" class="listBtn" value="{{value.0}}" name="addTitle">--</button>
        </td>
      </tr>
      {% endif %}

      {% if item.9 != NULL %}
      <tr>
        <td> 10 </td>
        <td> {{ item.9}} </td>
        <td>
          <form method="post" action="operation1">
            {% csrf_token %}
            <button type="submit" class="listBtn" value="{{item.9}}" name="addTitle">Add</button>
          </form>
          <form method="post" action="operation2">
            {% csrf_token %}
            <button type="submit" class="listBtn" value="{{item.9}}" name="delTitle">Delete</button>
          </form>
        </td>
        <td>
          <button type="submit" class="listBtn" value="{{value.0}}" name="addTitle">+</button>
          <button type="submit" class="listBtn" value="{{value.0}}" name="addTitle">--</button>
        </td>
      </tr>
      {% endif %}
    </tbody>
  </table>
  {% endfor %}

  {% for key, value in result %}
  <table id="List2" border="1" class="dataframe" align="center">
    <thead>
      <tr style="text-align: center;">
        <th>ID</th><th>Movie Title</th><th>Favorites List:</th><th>Rating:</th>
      </tr>
    </thead>
    <tbody>
      {% if value.0 != NULL %}
      <tr>
          <td> 1 </td>
          <td> {{ value.0}} </td>
          <td>
            <form method="post" action="operation1">
              {% csrf_token %}
              <button type="submit" class="listBtn" value="{{value.0}}" name="addTitle">Add</button>
            </form>
            <form method="post" action="operation2">
              {% csrf_token %}
              <button type="submit" class="listBtn" value="{{value.0}}" name="delTitle">Delete</button>
            </form>
          </td>
          <td>
            <button type="submit" class="listBtn" value="{{value.0}}" name="addTitle">+</button>
            <button type="submit" class="listBtn" value="{{value.0}}" name="addTitle">--</button>
          </td>
      </tr>
      {% endif %}

      {% if value.1 != NULL %}
      <tr>
          <td> 2 </td>
          <td> {{ value.1 }} </td>
          <td>
            <form method="post" action="operation1">
              {% csrf_token %}
              <button type="submit" class="listBtn" value="{{value.1}}" name="addTitle">Add</button>
            </form>
            <form method="post" action="operation2">
              {% csrf_token %}
              <button type="submit" class="listBtn" value="{{value.1}}" name="delTitle">Delete</button>
            </form>
          </td>
          <td>
            <button type="submit" class="listBtn" value="{{value.0}}" name="addTitle">+</button>
            <button type="submit" class="listBtn" value="{{value.0}}" name="addTitle">--</button>
          </td>
      </tr>
      {% endif %}

      {% if value.2 != NULL %}
      <tr>
          <td> 3 </td>
          <td> {{ value.2 }} </td>
          <td>
            <form method="post" action="operation1">
              {% csrf_token %}
              <button type="submit" class="listBtn" value="{{value.2}}" name="addTitle">Add</button>
            </form>
            <form method="post" action="operation2">
              {% csrf_token %}
              <button type="submit" class="listBtn" value="{{value.2}}" name="delTitle">Delete</button>
            </form>
          </td>
          <td>
            <button type="submit" class="listBtn" value="{{value.0}}" name="addTitle">+</button>
            <button type="submit" class="listBtn" value="{{value.0}}" name="addTitle">--</button>
          </td>
      </tr>
      {% endif %}

      {% if value.3 != NULL %}
      <tr>
          <td> 4 </td>
          <td> {{ value.3 }} </td>
          <td>
            <form method="post" action="operation1">
              {% csrf_token %}
              <button type="submit" class="listBtn" value="{{value.3}}" name="addTitle">Add</button>
            </form>
            <form method="post" action="operation2">
              {% csrf_token %}
              <button type="submit" class="listBtn" value="{{value.3}}" name="delTitle">Delete</button>
            </form>
          </td>
          <td>
            <button type="submit" class="listBtn" value="{{value.0}}" name="addTitle">+</button>
            <button type="submit" class="listBtn" value="{{value.0}}" name="addTitle">--</button>
          </td>
      </tr>
      {% endif %}

      {% if value.4 != NULL %}
      <tr>
          <td> 5 </td>
          <td> {{ value.4 }} </td>
          <td>
            <form method="post" action="operation1">
              {% csrf_token %}
              <button type="submit" class="listBtn" value="{{value.4}}" name="addTitle">Add</button>
            </form>
            <form method="post" action="operation2">
              {% csrf_token %}
              <button type="submit" class="listBtn" value="{{value.4}}" name="delTitle">Delete</button>
            </form>
          </td>
          <td>
            <button type="submit" class="listBtn" value="{{value.0}}" name="addTitle">+</button>
            <button type="submit" class="listBtn" value="{{value.0}}" name="addTitle">--</button>
          </td>
      </tr>
      {% endif %}

      {% if value.5 != NULL %}
      <tr>
          <td> 6 </td>
          <td> {{ value.5 }} </td>
          <td>
            <form method="post" action="operation1">
              {% csrf_token %}
              <button type="submit" class="listBtn" value="{{value.5}}" name="addTitle">Add</button>
            </form>
            <form method="post" action="operation2">
              {% csrf_token %}
              <button type="submit" class="listBtn" value="{{value.5}}" name="delTitle">Delete</button>
            </form>
          </td>
          <td>
            <button type="submit" class="listBtn" value="{{value.0}}" name="addTitle">+</button>
            <button type="submit" class="listBtn" value="{{value.0}}" name="addTitle">--</button>
          </td>
      </tr>
      {% endif %}

      {% if value.6 != NULL %}
      <tr>
          <td> 7 </td>
          <td> {{ value.6 }} </td>
          <td>
            <form method="post" action="operation1">
              {% csrf_token %}
              <button type="submit" class="listBtn" value="{{value.6}}" name="addTitle">Add</button>
            </form>
            <form method="post" action="operation2">
              {% csrf_token %}
              <button type="submit" class="listBtn" value="{{value.6}}" name="delTitle">Delete</button>
            </form>
          </td>
          <td>
            <button type="submit" class="listBtn" value="{{value.0}}" name="addTitle">+</button>
            <button type="submit" class="listBtn" value="{{value.0}}" name="addTitle">--</button>
          </td>
      </tr>
      {% endif %}

      {% if value.7 != NULL %}
      <tr>
          <td> 8 </td>
          <td> {{ value.7 }} </td>
          <td>
            <form method="post" action="operation1">
              {% csrf_token %}
              <button type="submit" class="listBtn" value="{{value.7}}" name="addTitle">Add</button>
            </form>
            <form method="post" action="operation2">
              {% csrf_token %}
              <button type="submit" class="listBtn" value="{{value.7}}" name="delTitle">Delete</button>
            </form>
          </td>
          <td>
            <button type="submit" class="listBtn" value="{{value.0}}" name="addTitle">+</button>
            <button type="submit" class="listBtn" value="{{value.0}}" name="addTitle">--</button>
          </td>
      </tr>
      {% endif %}

      {% if value.8 != NULL %}
      <tr>
          <td> 9 </td>
          <td> {{ value.8 }} </td>
          <td>
            <form method="post" action="operation1">
              {% csrf_token %}
              <button type="submit" class="listBtn" value="{{value.8}}" name="addTitle">Add</button>
            </form>
            <form method="post" action="operation2">
              {% csrf_token %}
              <button type="submit" class="listBtn" value="{{value.8}}" name="delTitle">Delete</button>
            </form>
          </td>
          <td>
            <button type="submit" class="listBtn" value="{{value.0}}" name="addTitle">+</button>
            <button type="submit" class="listBtn" value="{{value.0}}" name="addTitle">--</button>
          </td>
      </tr>
      {% endif %}

      {% if value.9 != NULL %}
      <tr>
          <td> 10 </td>
          <td> {{ value.9 }} </td>
          <td>
            <form method="post" action="operation1">
              {% csrf_token %}
              <button type="submit" class="listBtn" value="{{value.9}}" name="addTitle">Add</button>
            </form>
            <form method="post" action="operation2">
              {% csrf_token %}
              <button type="submit" class="listBtn" value="{{value.9}}" name="delTitle">Delete</button>
            </form>
          </td>
          <td>
            <button type="submit" class="listBtn" value="{{value.0}}" name="addTitle">+</button>
            <button type="submit" class="listBtn" value="{{value.0}}" name="addTitle">--</button>
          </td>
      </tr>
      {% endif %}

      </tbody>
  </table>
  {% endfor %}


  <form action="home">
      {% csrf_token %}
      <input class ="return" type="submit" name="return" value="Return">
    </form>
</div>
{% endblock %}
