{% extends 'main/base.html' %}

{% block title %}
Home
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="static/home.css">
{% endblock%}

{% load static %}
{% block content %}
  <div class="content">
    <br>
    
    <form action="{% url 'profile' %}">
      {% csrf_token %}
      <input class="profileBtn" type="submit" name="profile" value="Profile Page">
    </form>
    <p>Click On A Movie Title Or Enter A Title Into The Search Bar To See Recommended Titles</p>
    
    <form action="display" method="post">
      {% csrf_token %}
      <input class="searchBox" type="text" name="title" placeholder="Enter Title">
      <input class="searchBtn" type="submit" value="See Recommended Titles!">
    </form>

    <form action="synopsis" method="post">
      {% csrf_token %}
      <input class="searchBox" type="text" name="title" placeholder="Enter Title to Review">
      <input class="searchBtn" type="submit" value="Synopsis!">
    </form>

    <p>Popular Movies and TV Shows</p>
    {% for key, value in Table1 %}
    <table id="MovieList" border="1" class="dataframe" align="center">
      <thead>
      <tr style="text-align: center;">
        <th>ID</th><th>Movie Title</th><th>Favorites List:</th><th>Rating:</th><th>Reviews:</th>
      </tr>
      </thead>
    <tbody>
      <tr>
        <td> 1 </td>
        <td>
          <form action="display" method="post">
            {% csrf_token %}
            <input type="submit" value="{{value.0}}"  name="title"
            style="border: none; font-size: large; cursor: pointer !important; background-color: transparent">
          </form>
        </td>
        <td>
          {% if value.0 not in form %}
            <form method="post" action="operation1">
              {% csrf_token %}
              <button type="submit" class="listBtn" value="{{value.0}}" name="addTitle">Add</button>
            </form>
          {% else %}
            <form method="post" action="operation2">
              {% csrf_token %}
              <button type="submit" class="listBtn" value="{{value.0}}" name="delTitle">Delete</button>
            </form>    
          {% endif %}      
        </td>
        <td>
          <button type="submit" class="listBtn" value="{{value.0}}" name="addTitle">+</button>
          <button type="submit" class="listBtn" value="{{value.0}}" name="addTitle">--</button>
        </td>
        <td>
          <form action="{% url 'review' %}">
            {% csrf_token %}
            <button type="submit" class="listBtn" value="{{value.0}}" name="title">Reviews</button>
          </form>
        </td>
      </tr>
      <tr>
          <td> 2 </td>
          <td>
            <form action="display" method="post">
              {% csrf_token %}
              <input type="submit" value="{{value.1}}"  name="title"
              style="border: none; font-size: large; cursor: pointer !important; background-color: transparent">
            </form>   
          </td>
          <td>
            {% if value.1 not in form %}
            <form method="post" action="operation1">
              {% csrf_token %}
              <button type="submit" class="listBtn" value="{{value.1}}" name="addTitle">Add</button>
            </form>
            {% else %}
            <form method="post" action="operation2">
              {% csrf_token %}
              <button type="submit" class="listBtn" value="{{value.1}}" name="delTitle">Delete</button>
            </form>              
            {% endif %} 
          </td>
          <td>
            <button type="submit" class="listBtn" value="{{value.1}}" name="addTitle">+</button>
            <button type="submit" class="listBtn" value="{{value.1}}" name="addTitle">--</button>
          </td>
          <td>
            <form action="{% url 'review' %}">
              {% csrf_token %}
              <button type="submit" class="listBtn" value="{{value.1}}" name="title">Reviews</button>
            </form>
          </td>
      </tr>
      <tr>
          <td> 3 </td>
          <td>
            <form action="display" method="post">
              {% csrf_token %}
              <input type="submit" value="{{value.2}}"  name="title"
              style="border: none; font-size: large; cursor: pointer !important; background-color: transparent">
            </form>   
          </td>
          <td>
            {% if value.2 not in form %}
            <form method="post" action="operation1">
              {% csrf_token %}
              <button type="submit" class="listBtn" value="{{value.2}}" name="addTitle">Add</button>
            </form>
            {% else %}
            <form method="post" action="operation2">
              {% csrf_token %}
              <button type="submit" class="listBtn" value="{{value.2}}" name="delTitle">Delete</button>
            </form>              
            {% endif %} 
          </td>
          <td>
            <button type="submit" class="listBtn" value="{{value.2}}" name="addTitle">+</button>
            <button type="submit" class="listBtn" value="{{value.2}}" name="addTitle">--</button>
          </td>
          <td>
            <form action="{% url 'review' %}">
              {% csrf_token %}
              <button type="submit" class="listBtn" value="{{value.2}}" name="title">Reviews</button>
            </form>
          </td>
      </tr>
      <tr>
          <td> 4 </td>
          <td>
            <form action="display" method="post">
              {% csrf_token %}
              <input type="submit" value="{{value.3}}"  name="title"
              style="border: none; font-size: large; cursor: pointer !important; background-color: transparent">
            </form>   
          </td>
          <td>
            {% if value.3 not in form %}
            <form method="post" action="operation1">
              {% csrf_token %}
              <button type="submit" class="listBtn" value="{{value.3}}" name="addTitle">Add</button>
            </form>
            {% else %}
            <form method="post" action="operation2">
              {% csrf_token %}
              <button type="submit" class="listBtn" value="{{value.3}}" name="delTitle">Delete</button>
            </form>    
            {% endif %} 
          </td>
          <td>
            <button type="submit" class="listBtn" value="{{value.3}}" name="addTitle">+</button>
            <button type="submit" class="listBtn" value="{{value.3}}" name="addTitle">--</button>
          </td>
          <td>
            <form action="{% url 'review' %}">
              {% csrf_token %}
              <button type="submit" class="listBtn" value="{{value.3}}" name="title">Reviews</button>
            </form>
          </td>
      </tr>
      <tr>
          <td> 5 </td>
          <td>
            <form action="display" method="post">
              {% csrf_token %}
              <input type="submit" value="{{value.4}}"  name="title"
              style="border: none; font-size: large; cursor: pointer !important; background-color: transparent">
            </form>   
          </td>
          <td>
            {% if value.4 not in form %}
            <form method="post" action="operation1">
              {% csrf_token %}
              <button type="submit" class="listBtn" value="{{value.4}}" name="addTitle">Add</button>
            </form>
            {% else %}
            <form method="post" action="operation2">
              {% csrf_token %}
              <button type="submit" class="listBtn" value="{{value.4}}" name="delTitle">Delete</button>
            </form>    
            {% endif %} 
          </td>
          <td>
            <button type="submit" class="listBtn" value="{{value.4}}" name="addTitle">+</button>
            <button type="submit" class="listBtn" value="{{value.4}}" name="addTitle">--</button>
          </td>
          <td>
            <form action="{% url 'review' %}">
              {% csrf_token %}
              <button type="submit" class="listBtn" value="{{value.4}}" name="title">Reviews</button>
            </form>
          </td>
      </tr>
      <tr>
          <td> 6 </td>
          <td>
            <form action="display" method="post">
              {% csrf_token %}
              <input type="submit" value="{{value.5}}"  name="title"
              style="border: none; font-size: large; cursor: pointer !important; background-color: transparent">
            </form>   
          </td>
          <td>
            {% if value.5 not in form %}
            <form method="post" action="operation1">
              {% csrf_token %}
              <button type="submit" class="listBtn" value="{{value.5}}" name="addTitle">Add</button>
            </form>
            {% else %}
            <form method="post" action="operation2">
              {% csrf_token %}
              <button type="submit" class="listBtn" value="{{value.5}}" name="delTitle">Delete</button>
            </form>    
            {% endif %} 
          </td>
          <td>
            <button type="submit" class="listBtn" value="{{value.5}}" name="addTitle">+</button>
            <button type="submit" class="listBtn" value="{{value.5}}" name="addTitle">--</button>
          </td>
          <td>
            <form action="{% url 'review' %}">
              {% csrf_token %}
              <button type="submit" class="listBtn" value="{{value.5}}" name="title">Reviews</button>
            </form>
          </td>
      </tr>
      <tr>
          <td> 7 </td>
          <td>
            <form action="display" method="post">
              {% csrf_token %}
              <input type="submit" value="{{value.6}}"  name="title"
              style="border: none; font-size: large; cursor: pointer !important; background-color: transparent">
            </form>   
          </td>
          <td>
            {% if value.6 not in form %}
            <form method="post" action="operation1">
              {% csrf_token %}
              <button type="submit" class="listBtn" value="{{value.6}}" name="addTitle">Add</button>
            </form>
            {% else %}
            <form method="post" action="operation2">
              {% csrf_token %}
              <button type="submit" class="listBtn" value="{{value.6}}" name="delTitle">Delete</button>
            </form>    
            {% endif %} 
          </td>
          <td>
            <button type="submit" class="listBtn" value="{{value.6}}" name="addTitle">+</button>
            <button type="submit" class="listBtn" value="{{value.6}}" name="addTitle">--</button>
          </td>
          <td>
            <form action="{% url 'review' %}">
              {% csrf_token %}
              <button type="submit" class="listBtn" value="{{value.6}}" name="title">Reviews</button>
            </form>
          </td>
      </tr>
      <tr>
          <td> 8 </td>
          <td>
            <form action="display" method="post">
              {% csrf_token %}
              <input type="submit" value="{{value.7}}"  name="title"
              style="border: none; font-size: large; cursor: pointer !important; background-color: transparent">
            </form>   
          </td>
          <td>
            {% if value.7 not in form %}
            <form method="post" action="operation1">
              {% csrf_token %}
              <button type="submit" class="listBtn" value="{{value.7}}" name="addTitle">Add</button>
            </form>
            {% else %}
            <form method="post" action="operation2">
              {% csrf_token %}
              <button type="submit" class="listBtn" value="{{value.7}}" name="delTitle">Delete</button>
            </form>    
            {% endif %} 
          </td>
          <td>
            <button type="submit" class="listBtn" value="{{value.7}}" name="addTitle">+</button>
            <button type="submit" class="listBtn" value="{{value.7}}" name="addTitle">--</button>
          </td>
          <td>
            <form action="{% url 'review' %}">
              {% csrf_token %}
              <button type="submit" class="listBtn" value="{{value.7}}" name="title">Reviews</button>
            </form>
          </td>
      </tr>
      <tr>
          <td> 9 </td>
          <td>
            <form action="display" method="post">
              {% csrf_token %}
              <input type="submit" value="{{value.8}}"  name="title"
              style="border: none; font-size: large; cursor: pointer !important; background-color: transparent">
            </form>   
          </td>
          <td>
            {% if value.8 not in form %}
            <form method="post" action="operation1">
              {% csrf_token %}
              <button type="submit" class="listBtn" value="{{value.8}}" name="addTitle">Add</button>
            </form>
            {% else %}
            <form method="post" action="operation2">
              {% csrf_token %}
              <button type="submit" class="listBtn" value="{{value.8}}" name="delTitle">Delete</button>
            </form>    
            {% endif %} 
          </td>
          <td>
            <button type="submit" class="listBtn" value="{{value.8}}" name="addTitle">+</button>
            <button type="submit" class="listBtn" value="{{value.8}}" name="addTitle">--</button>
          </td>
          <td>
            <form action="{% url 'review' %}">
              {% csrf_token %}
              <button type="submit" class="listBtn" value="{{value.8}}" name="title">Reviews</button>
            </form>
          </td>
      </tr>
      <tr>
          <td> 10 </td>
          <td>
            <form action="display" method="post">
              {% csrf_token %}
              <input type="submit" value="{{value.9}}"  name="title"
              style="border: none; font-size: large; cursor: pointer !important; background-color: transparent">
            </form>   
          </td>
          <td>
            {% if value.9 not in form %}
            <form method="post" action="operation1">
              {% csrf_token %}
              <button type="submit" class="listBtn" value="{{value.9}}" name="addTitle">Add</button>
            </form>
            {% else %}
            <form method="post" action="operation2">
              {% csrf_token %}
              <button type="submit" class="listBtn" value="{{value.9}}" name="delTitle">Delete</button>
            </form>   
            {% endif %}  
          </td>
          <td>
            <button type="submit" class="listBtn" value="{{value.9}}" name="addTitle">+</button>
            <button type="submit" class="listBtn" value="{{value.9}}" name="addTitle">--</button>
          </td>
          <td>
            <form action="{% url 'review' %}">
              {% csrf_token %}
              <button type="submit" class="listBtn" value="{{value.9}}" name="title">Reviews</button>
            </form>
          </td>
      </tr>
      </tbody>
  </table>
  {% endfor %}

  {% for item in Table2 %}
  <table id="TVList" border="1" class="dataframe" align="center" style="padding-bottom: 50px;">
    <thead>
      <tr style="text-align: center;">
        <th>ID</th><th>Tv Title</th><th>Favorites List:</th><th>Rating:</th><th>Reviews:</th>
      </tr>
    </thead>
    <tbody>
      <tr>
          <td> 1 </td>
          <td>
            <form action="display" method="post">
              {% csrf_token %}
              <input type="submit" value="{{item.0}}"  name="title"
              style="border: none; font-size: large; cursor: pointer !important; background-color: transparent">
            </form>   
          </td>
          <td>
            {% if item.0 not in form %}
            <form method="post" action="operation1">
              {% csrf_token %}
              <button type="submit" class="listBtn" value="{{item.0}}" name="addTitle">Add</button>
            </form>
            {% else %}
            <form method="post" action="operation2">
              {% csrf_token %}
              <button type="submit" class="listBtn" value="{{item.0}}" name="delTitle">Delete</button>
            </form> 
            {% endif %}    
          </td>
          <td>
            <button type="submit" class="listBtn" value="{{item.0}}" name="addTitle">+</button>
            <button type="submit" class="listBtn" value="{{item.0}}" name="addTitle">--</button>
          </td>
          <td>
            <form action="{% url 'review' %}">
              {% csrf_token %}
              <button type="submit" class="listBtn" value="{{item.0}}" name="title">Reviews</button>
            </form>
          </td>
      </tr>
        <tr>
          <td> 2 </td>
          <td>
            <form action="display" method="post">
              {% csrf_token %}
              <input type="submit" value="{{item.1}}"  name="title"
              style="border: none; font-size: large; cursor: pointer !important; background-color: transparent">
            </form>   
          </td>
          <td>
            {% if item.1 not in form %}
            <form method="post" action="operation1">
              {% csrf_token %}
              <button type="submit" class="listBtn" value="{{item.1}}" name="addTitle">Add</button>
            </form>
            {% else %}
            <form method="post" action="operation2">
              {% csrf_token %}
              <button type="submit" class="listBtn" value="{{item.1}}" name="delTitle">Delete</button>
            </form>    
            {% endif %} 
          </td>
          <td>
            <button type="submit" class="listBtn" value="{{item.1}}" name="addTitle">+</button>
            <button type="submit" class="listBtn" value="{{item.1}}" name="addTitle">--</button>
          </td>
          <td>
            <form action="{% url 'review' %}">
              {% csrf_token %}
              <button type="submit" class="listBtn" value="{{item.1}}" name="title">Reviews</button>
            </form>
          </td>
      </tr>
        <tr>
          <td> 3 </td>
          <td>
            <form action="display" method="post">
              {% csrf_token %}
              <input type="submit" value="{{item.2}}"  name="title"
              style="border: none; font-size: large; cursor: pointer !important; background-color: transparent">
            </form>   
          </td>
          <td>
            {% if item.2 not in form %}
            <form method="post" action="operation1">
              {% csrf_token %}
              <button type="submit" class="listBtn" value="{{item.2}}" name="addTitle">Add</button>
            </form>
            {% else %}
            <form method="post" action="operation2">
              {% csrf_token %}
              <button type="submit" class="listBtn" value="{{item.2}}" name="delTitle">Delete</button>
            </form>    
            {% endif %} 
          </td>
          <td>
            <button type="submit" class="listBtn" value="{{item.2}}" name="addTitle">+</button>
            <button type="submit" class="listBtn" value="{{item.2}}" name="addTitle">--</button>
          </td>
          <td>
            <form action="{% url 'review' %}">
              {% csrf_token %}
              <button type="submit" class="listBtn" value="{{item.2}}" name="title">Reviews</button>
            </form>
          </td>
      </tr>
        <tr>
          <td> 4 </td>
          <td>
            <form action="display" method="post">
              {% csrf_token %}
              <input type="submit" value="{{item.3}}"  name="title"
              style="border: none; font-size: large; cursor: pointer !important; background-color: transparent">
            </form>   
          </td>
          <td>
            {% if item.3 not in form %}
            <form method="post" action="operation1">
              {% csrf_token %}
              <button type="submit" class="listBtn" value="{{item.3}}" name="addTitle">Add</button>
            </form>
            {% else %}
            <form method="post" action="operation2">
              {% csrf_token %}
              <button type="submit" class="listBtn" value="{{item.3}}" name="delTitle">Delete</button>
            </form>    
            {% endif %} 
          </td>
          <td>
            <button type="submit" class="listBtn" value="{{item.3}}" name="addTitle">+</button>
            <button type="submit" class="listBtn" value="{{item.3}}" name="addTitle">--</button>
          </td>
          <td>
            <form action="{% url 'review' %}">
              {% csrf_token %}
              <button type="submit" class="listBtn" value="{{item.3}}" name="title">Reviews</button>
            </form>
          </td>
      </tr>
        <tr>
          <td> 5 </td>
          <td>
            <form action="display" method="post">
              {% csrf_token %}
              <input type="submit" value="{{item.4}}"  name="title"
              style="border: none; font-size: large; cursor: pointer !important; background-color: transparent">
            </form>   
          </td>
          <td>
            {% if item.4 not in form %}
            <form method="post" action="operation1">
              {% csrf_token %}
              <button type="submit" class="listBtn" value="{{item.4}}" name="addTitle">Add</button>
            </form>
            {% else %}
            <form method="post" action="operation2">
              {% csrf_token %}
              <button type="submit" class="listBtn" value="{{item.4}}" name="delTitle">Delete</button>
            </form>    
            {% endif %} 
          </td>
          <td>
            <button type="submit" class="listBtn" value="{{item.4}}" name="addTitle">+</button>
            <button type="submit" class="listBtn" value="{{item.4}}" name="addTitle">--</button>
          </td>
          <td>
            <form action="{% url 'review' %}">
              {% csrf_token %}
              <button type="submit" class="listBtn" value="{{item.4}}" name="title">Reviews</button>
            </form>
          </td>
      </tr>
        <tr>
          <td> 6 </td>
          <td>
            <form action="display" method="post">
              {% csrf_token %}
              <input type="submit" value="{{item.5}}"  name="title"
              style="border: none; font-size: large; cursor: pointer !important; background-color: transparent">
            </form>   
          </td>
          <td>
            {% if item.5 not in form %}
            <form method="post" action="operation1">
              {% csrf_token %}
              <button type="submit" class="listBtn" value="{{item.5}}" name="addTitle">Add</button>
            </form>
            {% else %}
            <form method="post" action="operation2">
              {% csrf_token %}
              <button type="submit" class="listBtn" value="{{item.5}}" name="delTitle">Delete</button>
            </form>  
            {% endif %}   
          </td>
          <td>
            <button type="submit" class="listBtn" value="{{item.5}}" name="addTitle">+</button>
            <button type="submit" class="listBtn" value="{{item.5}}" name="addTitle">--</button>
          </td>
          <td>
            <form action="{% url 'review' %}">
              {% csrf_token %}
              <button type="submit" class="listBtn" value="{{item.5}}" name="title">Reviews</button>
            </form>
          </td>
      </tr>
        <tr>
          <td> 7 </td>
          <td>
            <form action="display" method="post">
              {% csrf_token %}
              <input type="submit" value="{{item.6}}"  name="title"
              style="border: none; font-size: large; cursor: pointer !important; background-color: transparent">
            </form>   
          </td>
          <td>
            {% if item.6 not in form %}
            <form method="post" action="operation1">
              {% csrf_token %}
              <button type="submit" class="listBtn" value="{{item.6}}" name="addTitle">Add</button>
            </form>
            {% else %}
            <form method="post" action="operation2">
              {% csrf_token %}
              <button type="submit" class="listBtn" value="{{item.6}}" name="delTitle">Delete</button>
            </form>   
            {% endif %}  
          </td>
          <td>
            <button type="submit" class="listBtn" value="{{item.6}}" name="addTitle">+</button>
            <button type="submit" class="listBtn" value="{{item.6}}" name="addTitle">--</button>
          </td>
          <td>
            <form action="{% url 'review' %}">
              {% csrf_token %}
              <button type="submit" class="listBtn" value="{{item.6}}" name="title">Reviews</button>
            </form>
          </td>
      </tr>
        <tr>
          <td> 8 </td>
          <td>
            <form action="display" method="post">
              {% csrf_token %}
              <input type="submit" value="{{item.7}}"  name="title"
              style="border: none; font-size: large; cursor: pointer !important; background-color: transparent">
            </form>   
          </td>
          <td>
            {% if item.7 not in form %}
            <form method="post" action="operation1">
              {% csrf_token %}
              <button type="submit" class="listBtn" value="{{item.7}}" name="addTitle">Add</button>
            </form>
            {% else %}
            <form method="post" action="operation2">
              {% csrf_token %}
              <button type="submit" class="listBtn" value="{{item.7}}" name="delTitle">Delete</button>
            </form>   
            {% endif %}  
          </td>
          <td>
            <button type="submit" class="listBtn" value="{{item.7}}" name="addTitle">+</button>
            <button type="submit" class="listBtn" value="{{item.7}}" name="addTitle">--</button>
          </td>
          <td>
            <form action="{% url 'review' %}">
              {% csrf_token %}
              <button type="submit" class="listBtn" value="{{item.7}}" name="title">Reviews</button>
            </form>
          </td>
      </tr>
        <tr>
          <td> 9 </td>
          <td>
            <form action="display" method="post">
              {% csrf_token %}
              <input type="submit" value="{{item.8}}"  name="title"
              style="border: none; font-size: large; cursor: pointer !important; background-color: transparent">
            </form>   
          </td>
          <td>
            {% if item.8 not in form %}
            <form method="post" action="operation1">
              {% csrf_token %}
              <button type="submit" class="listBtn" value="{{item.8}}" name="addTitle">Add</button>
            </form>
            {% else %}
            <form method="post" action="operation2">
              {% csrf_token %}
              <button type="submit" class="listBtn" value="{{item.8}}" name="delTitle">Delete</button>
            </form>
            {% endif %}       
          </td>
          <td>
            <button type="submit" class="listBtn" value="{{item.8}}" name="addTitle">+</button>
            <button type="submit" class="listBtn" value="{{item.8}}" name="addTitle">--</button>
          </td>
          <td>
            <form action="{% url 'review' %}">
              {% csrf_token %}
              <button type="submit" class="listBtn" value="{{item.8}}" name="title">Reviews</button>
            </form>
          </td>
      </tr>
        <tr>
          <td> 10 </td>
          <td>
            <form action="display" method="post">
              {% csrf_token %}
              <input type="submit" value="{{item.9}}"  name="title"
              style="border: none; font-size: large; cursor: pointer !important; background-color: transparent">
            </form>   
          </td>
          <td>
            {% if item.9 not in form %}
            <form method="post" action="operation1">
              {% csrf_token %}
              <button type="submit" class="listBtn" value="{{item.9}}" name="addTitle">Add</button>
            </form>
            {% else %}
            <form method="post" action="operation2">
              {% csrf_token %}
              <button type="submit" class="listBtn" value="{{item.9}}" name="delTitle">Delete</button>
            </form>
            {% endif %}    
          </td>
          <td>
            <button type="submit" class="listBtn" value="{{item.9}}" name="addTitle">+</button>
            <button type="submit" class="listBtn" value="{{item.9}}" name="addTitle">--</button>
          </td>
          <td>
            <form action="{% url 'review' %}">
              {% csrf_token %}
              <button type="submit" class="listBtn" value="{{item.9}}" name="title">Reviews</button>
            </form>
          </td>
      </tr>
    </tbody>
  </table>
  {% endfor %}
</div>
{% endblock %}
