{% extends 'main/base.html' %}
{% block content %}

{% block head %}
  <link rel="stylesheet" href="static/reviews.css">
{% endblock%}

<div class="content">
    <body>
        <br>
        <br>
        <h2>Title Name Reviews</h2>
    </body>
    <br>
    <br>
    <form method="post">
        {% csrf_token %}
        {{ reviewForm.as_p }}
        <input class="btn" type="submit" name="createReviewForm" value="Add Review">
    </form>

    <form action="home">
        {% csrf_token %}
        <input class="btn" type="submit" name="return" value="Return">
    </form>
</div>
{% endblock %}
