
{% extends 'main/base.html' %}
{{form}}
{% load static %}
{% block content %}
<head>
<title> Synopsis Page </title>
<link rel="stylesheet" href="{% static 'synopsis.css' %}" type="text/css">
</head>

<body>
<header> Synopsis</header>
<hr>
<h2> Series Overview </h2>

<body>
    <h>Show Name: {{Name}}</h>
    <p> Show Summary: {{Sum}} </p>
</body>

<table>
<tr>
    <td>Season: </td>
    <td>Episode: </td>
    <td>Episode Title: </td>
    <td>Episode Summary: </td>
</tr>
<tr>
    <td>
        {{season}}
    </td>
    <td>
        {{episode}}
    </td>
    <td>
        {{title}}
    </td>
    <td>
        {{ep_sum}}
    </td>
</tr>

</table>
</body>

<form action="home" >
    {% csrf_token %}
    <br>
    <input type="submit" value ="return" name="return" >
</form>

{% endblock %}







